################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea
/bin/
/.vs
/bin/Debug/net6.0-windows/Limbus Localization UI.deps.json
/bin/Debug/net6.0-windows/Limbus Localization UI.dll
/bin/Debug/net6.0-windows/Limbus Localization UI.exe
/bin/Debug/net6.0-windows/Limbus Localization UI.runtimeconfig.json
/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
/bin/Debug/net6.0-windows/SixLabors.ImageSharp.dll
/obj
/bin/Release/net6.0-windows
*.user
/Properties/PublishProfiles/FolderProfile.pubxml
